.navbar_container {
  display: grid;
  grid-template-rows: 20vh 80vh;
  grid-template-columns: 20% 80%;
  }
  
  .nav_section_1 {
    display: grid;
    grid-template-rows: 20% 60% auto;
    background: rgba(205, 205, 205, 0.8);
    text-align: center;
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 4;
  }

  .nav_section_2 {
    background: rgba(0, 41, 146, 1);
    text-align: center;
    grid-column-start: 1;  
    grid-column-end: 3;
    grid-row-start: 1; 
    grid-row-end: 2;
  }

  .user_info_container {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    float: right;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100%;
  }

  .balance_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-column-start: 1;  
    grid-column-end: 3;
  }
  .balance_info p {
    font-size: 1.5rem;
    margin: 0px;
  }

  .balance_info h3 {
    margin: 0px;
    color: green;
  }
  .user_info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column-start: 7;  
    grid-column-end: 10;
  }

  .user_info img {
    width: 50px;
    border-radius: 25px;
    margin: 0px 30px 0px 0px;
  }

  .nav_section_1 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .logo a:hover{
    color: white;
  }

  @media screen and (max-width: 768px) {

    .navbar_container {
      display: grid;
      grid-template-rows: 20vh 80vh;
      grid-template-columns: 20% 20% 20% 20% 20%;
      }

    .nav_section_1{
      background: rgba(0, 41, 146, 1);
      display: flex;
      grid-column-start: 1;  
      grid-column-end: 5;
      grid-row-start: 1; 
      grid-row-end: 2;
    }

    .nav_section_3 {
      text-align: center;
      grid-column-start: 1;  
      grid-column-end: 6;
      grid-row-start: 2; 
      grid-row-end: 3;
    }

    .nav_section_2 {
      background: rgba(0, 41, 146, 1);
      text-align: center;
      grid-column-start: 5;  
      grid-column-end: 6;
      grid-row-start: 1; 
      grid-row-end: 2;
    }

    .user_info_container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 0px 10px;
    }

    .user_info {
      display: none;
    }
    
  }