.nav_section_list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    padding: 0px;
  }

  .nav_section_list li {
    display: flex;
    background-color: transparent;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .nav_section_list a{
    text-decoration: none;
    color: black;

  }

  .nav_section_list a:hover{
    color: white;
  }

  .logo a{
    text-decoration: none;
    color: black;
  }

  @media screen and (max-width: 768px) {
    .nav_section_list {
      flex-direction: row;
      width: 100%;
      height: 100%;
      align-items: center;
      margin: 0;
    }
    .logo a{
      display: none;
    }
  }